{% extends 'base.html' %}

{% block title %}MovieON - Inicio{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
{% endblock %}

{% block content %}
<h1 class="search-title">Resultados de búsqueda para "{{ query }}"</h1>

<div class="search-results">

    <!-- Sección de películas -->
    <h2>Películas</h2>
    <div class="movies-grid">
        {% if peliculas %}
            {% for pelicula in peliculas %}
                <div class="movie-card">
                    <a href="{{ url_for('main.movie', movie_id= pelicula['id']) }}">
                        <picture>
                            <img src="{{ pelicula['poster_url'] }}" alt="{{ pelicula['title'] }}" loading="lazy">
                        </picture>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-results">No se encontraron películas.</p>
        {% endif %}
    </div>

    <!-- Sección de series -->
    <h2>Series</h2>
    <div class="movies-grid">
        {% if series %}
            {% for serie in series %}
                <div class="movie-card">
                    <a href="{{ url_for('main.serie', serie_id= serie['id']) }}">
                        <picture>
                            <img class="movie-poster" src="{{ serie.poster_url }}" alt="{{ serie.title }}">
                        </picture>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-results">No se encontraron series.</p>
        {% endif %}
    </div>

    <!-- Sección de actores -->
    <h2>Actores</h2>
    <div class="movies-grid">
        {% if actores %}
            {% for actor in actores %}
                <div class="actor-card">
                    <img class="actor-photo" src="{{ actor.profile_url }}" alt="{{ actor.name }}">
                    <h3 class="actor-name">{{ actor.name }}</h3>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-actors">No se encontraron actores.</p>
        {% endif %}
    </div>
</div>
{% endblock %}