<div class="movies-grid">
    <div class="grid">
        {% for pelicula in peliculas %}
            <div class="movie-card">
                <a href="{{ url_for('main.movie', movie_id= pelicula['id']) }}">
                    <img src="{{ pelicula['poster_url'] }}" alt="{{ pelicula['title'] }}" loading="lazy">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div id="paginador" class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=1, selected_genres=generos) }}">Primera</a>
    {% endif %}
    {% if page > 1 %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=page-1, selected_genres=generos) }}">Anterior</a>
    {% endif %}
    {% for p in range(start_page, end_page + 1) %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=p, selected_genres=generos) }}" 
           class="{% if p == page %}active{% endif %}">{{ p }}</a>
    {% endfor %}
    {% if page < total_pages %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=page+1, selected_genres=generos) }}">Siguiente</a>
    {% endif %}
    {% if page < total_pages %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=total_pages, selected_genres=generos) }}">Última</a>
    {% endif %}
</div>