{% extends 'base.html' %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/peliculas.css') }}">
{% endblock %}

{% block content %}
<div class="container">

    <div class="movies-grid">
        <div class="grid">
            {% for pelicula in peliculas %}
                <div class="movie-card">
                    <a href="{{ url_for('main.movie', movie_id= pelicula['id']) }}">
                        <img src="{{ pelicula['poster_url'] }}" alt="{{ pelicula['title'] }}" loading="lazy">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="paginador" class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=1)}}">Primera</a>
    {% endif %}
    {% if page > 1 %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=page-1)}}">Anterior</a>
    {% endif %}
    {% for p in range(start_page, end_page + 1) %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=p)}}" 
           class="{% if p == page %}active{% endif %}">{{ p }}</a>
    {% endfor %}
    {% if page < total_pages %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=page+1)}}">Siguiente</a>
    {% endif %}
    {% if page < total_pages %}
        <a href="{{ url_for('main.peliculas_ruta', categoria=categoria, page=total_pages)}}">Última</a>
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
<script src="{{ url_for('static', filename='script/peliculas.js') }}"></script>
{% endblock %}