{% extends 'base.html' %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/peliculas.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Sidebar de filtros -->
    <div class="sidebar">
        <h3>Géneros</h3>
        <div class="genres">
            <form method="get" action="{{ url_for('main.peliculas_ruta', categoria=categoria) }}" onsubmit="return false;">
                <div class="genres">
                    {% for id, nombre in generos_disponibles.items() %}
                        <button type="button" class="genre-button {% if id in generos %}active{% endif %}" data-id="{{ id }}" onclick="toggleGenre(this)">
                            {{ nombre }}
                        </button>
                    {% endfor %}
                </div>
                <input type="hidden" name="selected_genres" id="selected_genres" value="{{ generos | join(',') }}">
            </form>
        </div>
    </div>

    <!-- Grid de películas -->
    <div class="movies-grid">
        {% include 'main/peliculas_grid.html' %}
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="{{ url_for('static', filename='script/peliculas.js') }}"></script>
{% endblock %}