<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MovieON{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block custom_styles %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container_header">
            <div class="logo">
                <a href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
                </a>
            </div>
        </div>
        <nav class="nav">
            <ul class="nav_list">
                <li>
                    <a href="#">Películas</a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='populares', page=1) }}">Populares</a></li>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='en_cartelera', page=1) }}">En cartelera</a></li>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='proximas', page=1) }}">Próximamente</a></li>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='mejor_puntuadas', page=1) }}">Mejor puntuadas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Series</a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('main.series_ruta', categoria='populares', page=1) }}">Populares</a></li>
                        <li><a href="{{ url_for('main.series_ruta', categoria='se_emiten_hoy', page=1) }}">Se emiten hoy</a></li>
                        <li><a href="{{ url_for('main.series_ruta', categoria='en_television', page=1) }}">En televisión</a></li>
                        <li><a href="{{ url_for('main.series_ruta', categoria='mejor_puntuadas', page=1) }}">Mejor puntuadas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gente</a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('main.actores_populares', page=1) }}">Actores Populares</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Más</a>
                    <ul class="dropdown">
                        <li><a href="">Fundadores</a></li>
                        <li><a href="#">Soporte Ténico</a></li>
                        <li><a href="#">Manual de usuario</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header_right">
            <button class="icon_button"> 
                <span>ES</span>
            </button>
            <a href="{{ url_for('auth.logear') }}" class="header_link nav_button">Iniciar sesión</a>
            <a href="{{ url_for('auth.register') }}" class="header_link nav_button">Únete</a>
            <button class="icon_button"> 
                <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Buscar">
            </button>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Peliculas</h4>
                    <ul>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='populares', page=1) }}">Populares</a></li>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='en_cartelera', page=1) }}">En cartelera</a></li>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='proximas', page=1) }}">Próximamente</a></li>
                        <li><a href="{{ url_for('main.peliculas_ruta', categoria='mejor_puntuadas', page=1) }}">Mejor puntuadas</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Series</h4>
                    <ul>
                        <li><a href="{{ url_for('main.series_ruta', categoria='populares', page=1) }}">Populares</a></li>
                        <li><a href="{{ url_for('main.series_ruta', categoria='se_emiten_hoy', page=1) }}">Se emiten hoy</a></li>
                        <li><a href="{{ url_for('main.series_ruta', categoria='en_television', page=1) }}">En televisión</a></li>
                        <li><a href="{{ url_for('main.series_ruta', categoria='mejor_puntuadas', page=1) }}">Mejor puntuadas</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Compañia</h4>
                    <ul>
                        <li><a href="">Fundadores</a></li>
                        <li><a href="#">Soporte Ténico</a></li>
                        <li><a href="#">Manual de usuario</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>