.container {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    max-width: 60%; /* Ajusta esto según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
    overflow-x: hidden;
}

.movies-grid {
    flex: 1;
    overflow-x: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Mantiene el tamaño mínimo de 180px */
    gap: 20px; /* Espacio entre los elementos */
}

.movie-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

.movie-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
}

.movies-grid h2 {
    color: #fff;
    padding-bottom: 10px;
}

#paginador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#paginador a, #paginador span {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #f58723;
    border: 1px solid #f58723;
    border-radius: 5px;
}

#paginador a.active {
    background-color: #f58723;
    color: white;
}

#paginador a:hover {
    background-color: #f58723;
    color: white;
}

#paginador span {
    color: #ccc;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: none;
        padding: 10px;
        margin-right: 0;
    }

    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }
}