.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-right: 20px;
}

.filter-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
}

.filter-section {
    margin-top: 20px;
}

.filter h4 {
    margin-bottom: 10px;
}

.filter label {
    display: block;
    margin-bottom: 10px;
}

.movies-grid {
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.movie-card {
    display: inline-block;
    width: 180px;
    padding: 0;
    border-radius: 8px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



#paginador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Estilo de cada botón de página */
#paginador a {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #f58723; /* Color de fondo */
    color: #fff; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s; /* Transición suave */
}

/* Estilo para el botón activo */
#paginador a.active {
    background-color: #f58723; /* Color más oscuro para el botón activo */
}

/* Efecto hover para los botones */
#paginador a:hover {
    background-color: #f58723; /* Color más oscuro en hover */
}

/* Estilo para los enlaces desactivados */
#paginador span {
    padding: 10px 15px;
    margin: 0 5px;
    color: #ccc; /* Color para enlaces desactivados */
}