
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #e88930;
    border-radius: 15px;
    box-shadow: 7px 13px 37px 0 #000;
    color: #ffffff;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    grid-column: 2;
    justify-self: center; /* Centra horizontalmente */
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 500px;
    width: 28%;
    gap: 5px;
}
.register-container {
    background-image: url("../img/collage_fondo.jpg");
    height: 720px;
    display: flex;
    justify-content: center;
}
.form-main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    gap: 15px;
}
.user{
    height: 40px;
}
.name {
    height: 40px;
}
.email{
    height: 40px;
}
.password {
    height: 40px;
}
.input-campo {
    width: 97%;
    height: 30px;
    font-family: "Roboto", sans-serif;
    border-style: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    transition: transform 0.2s;

}
.input-campo:hover {
    border-color: #ffe100;
    border-width: 1px;
    border-style: solid;
    transform: scale(1.05);
}

.btn {
    background-color: #ffffff;
    border-style: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
    transition: transform 0.2s;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 4px 10px 20px 0 #0000002e;
}

.btn:hover {
    transform: scale(1.05);
    font-size: 20px;
    font-weight: 700;
    box-shadow: 4px 10px 20px 0 #0000002e;
}

.condiciones {
    color: #feffc0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.condiciones:hover {
    color: #fdff7d;
}

h1 {
    padding-top: 20px;
    font-size: 40px;
}

h1:hover {
    cursor: default;
}
