.section2{
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #e88930;
    color: black;

}
.consultas-section2{
    background-color: white;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 4px 10px 20px 0 #0000002e;
    border-radius: 15px;
}


.faq-item {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.faq-question {
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    transition: transform 0.2s;
}

.faq-answer:hover {
    transform: scale(1.005);
}

.active .faq-answer {
    display: block;
}

.section1 {
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    backdrop-filter: blur(10px); /* Ajusta el valor de blur según tu preferencia */
    width: 30%;
}

.text h3 {
    padding-left: 30px;
    padding-right: 30px;
}
.text a{
    width: 60%;
    height: 60px;
    margin: 20px;
}

.text a button {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    border-style: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e88930;
    margin: auto;
    padding: 30px 70px;
    border-radius: 25px;
    gap: 15px;
    color: white;
}

.text-input textarea {
    width: 97%;
    height: 60px;
    font-family: "Roboto", sans-serif;
    border-style: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;
}

.text-input button {
    align-self: flex-end;
    margin-right: 5px;
    border-style: none;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: white;
    font-weight: 550;
    transition: transform 0.2s;
}

.text-input button:hover{
    transform: scale(1.05);
}