body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    overflow-x: hidden; /* Bloquea el desplazamiento horizontal */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    
    background-color: #f58723;
}














/*---------------------------------------------------------------------------Header--------------------------------------------------------------------*/
.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    margin-left: 1em;
    font-family: "Roboto", sans-serif;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-right: 2em;
}

.container_header ul {
    padding-right: 20px;
}

.container_header ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 0px 20px;
}
/*---------------------------------------------------------------------------Header--------------------------------------------------------------------*/




















/*---------------------------------------------------------------------------Estrenos--------------------------------------------------------------------*/

h2, small, a{
    margin: 0;
    padding: 0;

}

.carrousel{
    width: 100%;
    margin: 0px 0px;
}

@media(min-width:768px){

    .carrousel{
        margin: 0px 60px;
    }
}

.carrousel h2{
    font-size: 45px;
    line-height: 10px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

.carrousel_list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 400px;
    padding: 10px 0px;
    margin: auto;
    max-width: 90vw;
    overflow: hidden;
    
}

.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel{
    position: relative;
    width: 210px;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel a img{
    object-fit: cover;
    height: 400px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3 ease-in-out;
}

@media(min-width:768px) {
    .carrusel{

        width: 275px;
    }
    .carrousel a img{
        width: 250px;
    }
}

.carrusel-arrow{
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
}

.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,0.7);
}

.carrusel-prev {
    left: 0;
}

.carrusel-next {
    right: 0px;
}
/*---------------------------------------------------------------------------Estrenos--------------------------------------------------------------------*/

/*---------------------------------------------------------------------------Peliculas--------------------------------------------------------------------*/

#movie{
    margin-top: 40px;
}
#movie h2{
    font-size: 45px;
    line-height: 10px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    
}

.cuadricula {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pelicula {
        margin: 10px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 200px;
        text-align: center;

    }
    .pelicula img {
        width: 100%;
        height: auto;
    }

    .pelicula:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*---------------------------------------------------------------------------Peliculas--------------------------------------------------------------------*/




















/*---------------------------------------------------------------------------Footer--------------------------------------------------------------------*/
.footer {
    background-color: #111111;
    width: 100%;
    padding: 20px 0;
    margin-top: auto;  /* Asegura que el footer esté en la parte inferior */
}

.footer .footer_container {
    max-width: 1200px; /* Ancho máximo del contenido del footer */
    margin: 0 auto;
    padding: 20px;
}

.footer .social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer .social a {
    margin: 0 10px;
}

.footer .social img {
    width: 1.5em;
    height: 1.5em;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.footer .social img:hover {
    background-color: #555;
}

.footer_nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer_nav ul {
    padding: 0;
}

.footer_nav ul li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

.footer_nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.footer_nav ul li a:hover {
    opacity: 1;
}

.copy {
    text-align: center;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
}

.copy p {
    margin: 0;
}

.copy .designer {
    font-weight: bold;
    opacity: 0.8;
}

/* Responsivo */
@media (max-width: 768px) {
    .footer .footer_container {
        padding: 10px;
    }
    
    .footer .footer_nav ul li {
        margin: 0 10px;
    }
}
/*---------------------------------------------------------------------------Footer--------------------------------------------------------------------*/
