/*-----------------------------------------Globales-----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    
    overflow-x: hidden; /* Bloquea el desplazamiento horizontal */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    
    background-color: #1c1c1c;
}

/* Corrección para el hover del título */
h1 a {
    text-decoration: none;
    color: #ffffff;
}
h1 a:hover {
    color: #dfdede;
    font-size: 150%; /* Corrección aquí */
}


/*---------------------------------------------------------------------------Header--------------------------------------------------------------------*/
.header {
    background-color: #000000; /* Fondo negro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container_header {
    display: flex;
    justify-content: flex-start; /* Mantiene logo y menú alineados al inicio */
    align-items: center;
    width: auto;
}

/* Estilos del logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3.5em;
    width: auto;
    margin-right: 30px;
}

/* Estilos del menú de navegación */
.nav_list {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.nav_list li {
    position: relative; /* Necesario para posicionar el dropdown */
}


.nav_list a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px; /* Espaciado en el enlace principal */
    border-radius: 4px; /* Esquinas redondeadas */
    transition: background-color 0.2s; /* Transición suave para el fondo */
}
.nav_list li ul {
    list-style: none; /* Elimina los puntos del menú desplegable */
    padding: 0;
    margin: 0;
}

.nav_list a:hover {
    background-color: #f1c49a; /* Fondo al pasar el mouse */
    color: #fff; /* Color de texto al pasar el mouse */
}



/* Estilos del menú desplegable */
.dropdown {
    display: none; /* Oculta el menú desplegable inicialmente */
    position: absolute; /* Posiciona el dropdown */
    left: 0; /* Alinea el dropdown con el padre */
    background-color: #fff; /* Fondo blanco */
    border-radius: 4px; /* Esquinas redondeadas */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 5px 0; /* Espaciado interno reducido */
    top: 32px; /* Aumenta el margen superior para separar el dropdown */
}

.nav_list li:hover .dropdown {
    display: block; /* Muestra el dropdown al pasar el mouse */
}

/* Elementos del dropdown */
.dropdown li {
    padding: 4px 12px; /* Espacio entre los elementos del dropdown */
}

.dropdown a {
    color: #333; /* Color de texto del dropdown */
    font-size: 14px; /* Tamaño de fuente del dropdown */
    display: block; /* Hace clic en toda el área del enlace */
    transition: background-color 0.2s; /* Transición suave para el fondo */
}

.dropdown a:hover {
    background-color: #f58723; /* Fondo al pasar el mouse */
    color: #fff; /* Color de texto al pasar el mouse */
}

/* Estilo del enlace principal */
.nav_list li > a {
    padding: 10px 15px; /* Espaciado en el enlace principal */
    border-radius: 4px; /* Esquinas redondeadas */
    transition: background-color 0.2s; /* Transición suave para el fondo */
}

.nav_list li > a:hover {
    background-color: #f58723; /* Fondo al pasar el mouse */
    color: #fff; /* Color de texto al pasar el mouse */
}

.nav_list li.active > a {
    background-color: #f58723; /* Fondo resaltado */
    color: #fff; /* Color de texto resaltado */
}

/* Estilo de la parte derecha (búsqueda, idioma, sesión) */
.header_right {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto; /* Alinea los íconos a la derecha */
}

.nav_button {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: transparent; /* Fondo transparente por defecto */
    transition: background-color 0.2s, color 0.2s;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    
}

.nav_button:hover {
    background-color: #f58723;
    color: #fff;
    text-decoration: none;
}

/* Evitamos el comportamiento de menú desplegable */
.nav_button.active, .nav_button:hover {
    background-color: #f58723;
    color: white;
    text-decoration: none;
}

.icon_button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon_button img {
    width: auto;
    height: 3em;
}

.icon_button span {
    color: #f1c49a;
}

.header_link {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.header_link:hover {
    text-decoration: none;
}


















/*---------------------------------------------------------------------------Estrenos--------------------------------------------------------------------*/

h2, small, a{
    margin: 0;
    padding: 0;

}

.carrousel_title h2 {
    font-size: 45px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    text-align: center; /* Centra el título de "Películas" */
    margin: 30px 0 5px 0; /* Ajusta el espacio superior e inferior */
}
.carrousel {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que el carrusel esté centrado */
}

.carrousel h2 {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    margin: 20px 0 10px 0; /* Elimina margen izquierdo */
    text-align: left;
    width: 88vw; /* Asegura que el ancho sea el mismo que el del carrusel */
    padding-left: calc((100% - 88vw) / 2 - 80px); /* Alinea los títulos con el carrusel */
}

.carrousel_list {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 88vw; /* Ajusta el ancho del carrusel */
    height: 400px;
    overflow: hidden;
    margin: auto;
    padding: 20px 0;
    border-radius: 15px;
}

.carrusel-track {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro de la pista del carrusel */
    transition: .5s ease-in-out;
}

.carrusel {
    display: flex;
    flex-direction: column; /* Asegura que las imágenes estén en una columna */
    align-items: center; /* Centra las imágenes horizontalmente */
    width: 210px;
    padding: 0 ;
    box-sizing: border-box;
    height: 100%;
}

.carrusel a img {
    object-fit: cover;
    height: 400px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media (min-width: 768px) {
    .carrusel {
        width: 275px;
    }
    .carrusel a img {
        width: 250px;
    }
}

.carrusel-arrow {
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    z-index: 4;
    width: 48px; /* Tamaño del contenedor */
    height: 48px;
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que el SVG esté centrado */
    padding: 0;
    outline: none;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 80px;
    height: 80px;
    margin: 0;
    padding:0;
    color: rgb(0, 0, 0, 0.7) ;
    stroke:none;
}

.carrusel-prev {
    left: 0;
    
}

.carrusel-next {
    right: 0;

}
/*---------------------------------------------------------------------------Estrenos--------------------------------------------------------------------*/

/*---------------------------------------------------------------------------Peliculas--------------------------------------------------------------------*/

/*---------------------------------------------------------------------------Peliculas--------------------------------------------------------------------*/




















/*---------------------------------------------------------------------------Footer--------------------------------------------------------------------*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f58723;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*---------------------------------------------------------------------------Footer--------------------------------------------------------------------*/




/*---------------------------------------------------------------------------Movies--------------------------------------------------------------------*/

/*-----------------------------------Registro/Inicio de sesion----------------------------------------------------*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #a70506;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px;
    grid-column: 2;
    justify-self: center; /* Centra horizontalmente */
    align-self: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 350px;
    width: 250px;
}
.form-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    justify-content: space-evenly;
}
.login-main {
    background-image: url("../img/collage_fondo.jpg");

}
.alert-login {
    background-color:#f1c49a
}
.input-campo {
    width: 97%;

}

