{% extends 'base.html' %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/registro.css') }}">
{% endblock %}

{% block title %}MovieON - Inicio{% endblock %}

{% block content %}
<div class="register-container">
    <div class="form-container">
        <h1>Registrarse</h1>
        <form action="{{ url_for('auth.register') }}" method="post" class="form-main">
            <div class="name">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required class="input-campo">
            </div>
            <div class="user">
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" required class="input-campo">
            </div>
            <div class="email">
                <input type="email" id="email" name="email" placeholder="Correo electronico" required class="input-campo">
            </div>
            <div class="password">
                <input type="password" id="password" name="password" placeholder="Contraseña" required class="input-campo">
            </div>
            <div>
                <input type="checkbox" class="terminos"> <label for="checkbox">Estoy de acuerdo con los <a href="#" class="condiciones">terminos y condiciones</a></label>
            </div>
            <button type="submit" class="btn">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}  