{% extends 'base.html' %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/sesion.css') }}">
{% endblock %}

{% block title %}MovieON - Inicio{% endblock %}

{% block content %}
<div class="login-main">
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form method="POST" action="{{ url_for('auth.logear') }}" class="form-container">
            <div class="login-form_usuario">
                <input type="text" name="username" id="username" required class="input-campo" placeholder="Nombre de usuario">
            </div>
            <div class="login-form_password">
                <input type="password" name="password" id="password" required class="input-campo" placeholder="Contraseña">
            </div>
            <div class="data">
                <input type="checkbox" class="checkbox-sesion"> <label for="checkbox">Recordar mis datos</label>
            </div>
            
            <button type="submit" class="btn">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}  